name: Build and Release Vendored Gemfile

on:
  push:
    branches:
      - 'main'

jobs:
  release:
    if: github.repository_owner == 'joernio'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get next release version (dry run)
        id: taggerDryRun
        uses: anothrNick/github-tag-action@1.61.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DRY_RUN: true

      - name: Show next version
        env:
          CURR_TAG: ${{ steps.taggerDryRun.outputs.tag }}"
          NEW_TAG: ${{ steps.taggerDryRun.outputs.new_tag }}
        run: |
          echo "The next tag version will be: $NEW_TAG"
          echo "The current tag is: $CURR_TAG"
          ./update_version.rb $NEW_TAG

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.4
          bundler-cache: false

      - name: Set up JRuby
        run: |
          curl 'https://repo1.maven.org/maven2/org/jruby/jruby-complete/9.4.8.0/jruby-complete-9.4.8.0.jar' \
            --output jruby.jar

      - name: Install dependencies and build release
        run: |
          mkdir -p ${PWD}/vendor/bundle/jruby/3.1.0
          export GEM_HOME=${PWD}/vendor/bundle/jruby/3.1.0
          export GEM_PATH=${PWD}/vendor/bundle/jruby/3.1.0
          export PATH=$GEM_HOME/bin:$PATH
          
          java -jar jruby.jar -S gem install bundler -v 2.5.21 --install-dir ${GEM_HOME}
          java -jar jruby.jar -S bundle config set without 'development test'
          java -jar jruby.jar -S bundle install

          find vendor/bundle/jruby/3.1.0 -mindepth 1 -maxdepth 1 -type \
            d ! -name "gems" ! -name "bin" ! -name "specifications" \
            -exec rm -rf {} +
          zip -r ruby_ast_gen_${{ steps.taggerDryRun.outputs.new_tag }}.zip \
            lib exe vendor Gemfile ruby_ast_gen.gemspec

      - name: Add and commit updated files holding version information
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: |
            lib/ruby_ast_gen/version.rb
            Gemfile.lock
          commit_message: Update VERSION file

      - name: Upload vendored distribution to GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_TOKEN_PERMISSIONS: "read:packages, write:packages"
        with:
          tag_name: ${{ steps.taggerDryRun.outputs.new_tag }}
          files: |
            ruby_ast_gen_*.zip
